{% extends 'basic.html' %}
{% block title %} About {% endblock %}
{% block body %}<p>Welcome to The movies times. The movies times.com, Inc. and/or its affiliates ("The movies times") provide its website features and other services to you subject to the following conditions.
    If you visit The movies times.com, use other The movies times services, products, or use software or mobile applications provided by The movies times that states that it is subject to these Conditions of Use (collectively “The movies times Services”), you accept these conditions. 
    Please read them carefully. In addition, when you use any current, future The movies times Services, (e.g., The movies timesPro.com) you also will be subject to the guidelines, terms and agreements (“Terms”) applicable to that The movies times Service. 
    If these Conditions of Use are inconsistent with the Terms provided for any The movies times service, the Terms will control.</p>
{% endblock %}
